.backdrop{

}
dialog{
  position: fixed;
  top:30%;
  right: 0;
}
dialog > form > p.actions{
  text-align: right;
}
dialog > form > p.actions > button{
  margin: 0 5px;
  font-size: 10pt;
  font-weight: bold;
}
